<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Administrators
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> User Management</a></li>
    <li class="active">Administrators</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Administrators</h3>
          <button type="button" class="btn btn-sm pull-right bg-green" data-toggle="modal" data-target="#addDialog" ng-click="newUser()"><i class="fa fa-user"></i> Add New User</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Country</th>
              <th>Phone Number</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in adminUsers">
              <td>{{user.email}}</td>
              <td>{{user.user_info.first_name}}</td>
              <td>{{user.user_info.last_name}}</td>
              <td>{{user.user_info.country}}</td>
              <td>{{user.user_info.phone_number}}</td>
              <td>
                <a class="btn" data-toggle="modal" data-target="#addDialog" ng-click="onUpdate(user._id)"> <i class="fa fa-edit text-blue"></i></a>
                <a class="btn" data-toggle="modal" data-target="#myModal" ng-click="onSelect(user._id)"> <i class="fa fa-remove text-red"></i></a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Country</th>
              <th>Phone Number</th>
              <th>Actions</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

<div class="modal modal-danger"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Danger Modal</h4>
      </div>
      <div class="modal-body">
        <p>Do you want delete the user?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" ng-click="delete()" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-outline" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal modal-danger"  id="addDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Administrator</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="input.email">
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="input.firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="input.lastName">
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Country" ng-model="input.country">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" ng-model="input.phoneNumber">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="input.password">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="input.confirmPassword">
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
